<form [formRoot]="loginForm" (submit)="loginSubmit()" class="space-y-5 text-center">
  @if (errorMessage()) {
    <p class="text-nxt-error text-center">
      {{ errorMessage() }}
    </p>
  }
  <div>
    <label class="sr-only" for="email">Adresse Email</label>
    <input id="email" type="email" placeholder="ex: jean.dupont@nexteam.fr"
           [formField]="loginForm.email"
    >
    @if (loginForm.email().invalid() && loginForm.email().touched()) {
      <p class="text-nxt-error">
        @for (error of loginForm.email().errors(); track error.kind) {
          <span>{{ error.message }}</span>
        }
      </p>
    }
  </div>

  <div>
    <label class="sr-only" for="password">Mot de passe</label>
    <input id="password" type="password" placeholder="Mot de passe"
           [formField]="loginForm.password">
    @if (loginForm.password().invalid() && loginForm.password().touched()) {
      <p class="text-nxt-error">
        @for (error of loginForm.password().errors(); track error.kind) {
          <span>{{ error.message }}</span>
        }
      </p>
    }
  </div>

  <div class="pt-2 flex justify-center">
    <button type="submit" class="btn-nxt-primary">
      Se connecter
    </button>
  </div>
</form>
