<div class="relative z-40">
  <app-header />
</div>

<app-flash-message />

<!-- Conteneur flex global sous le header -->
<div class="flex h-[calc(100vh-64px)] overflow-hidden">

  <!-- Sidebar : shrink-0 empêche flex de la déformer, sa largeur est gérée par app-sidebar -->
  <aside class="h-full shrink-0 ">
    @if (currentRoute === '/messageries') {
      <app-list-conversation></app-list-conversation>
    } @else {
      <app-sidebar></app-sidebar>
    }
  </aside>

  <!-- Main : flex-1 occupe automatiquement TOUT l'espace restant -->
  <div class="flex flex-1 flex-col overflow-hidden pt-1 pl-1">
    <main class="flex-1 overflow-y-auto bg-nxt-surface rounded-tl-xl border-t border-l border-gray-300/70 shadow-sm">
      <router-outlet />
    </main>
  </div>

</div>

<app-footer />
