<app-header />

<main class="flex h-[calc(100vh-64px)] overflow-hidden">
  <app-flash-message />
  <aside class="hidden lg:block lg:h-full shrink-0">
    @if (currentRoute.startsWith('/messageries')) {
      <app-list-conversation></app-list-conversation>
    } @else {
      <app-sidebar></app-sidebar>
    }
  </aside>

  <section class="flex-1 overflow-y-auto bg-nxt-surface rounded-tl-xl border-t border-l border-gray-300/70 shadow-sm mt-1 ml-1">
    <router-outlet />
  </section>

</main>

<app-footer />
