<div class="mb-5 link-nxt">
  <a routerLink="/admin">Retour</a>
</div>

@if (users(); as response) {

  <div class="flex justify-between items-center mb-8">
    <h1 class="page-title-nxt mb-0">Gestion des utilisateurs</h1>
    <a routerLink="ajouter-utilisateur" class="btn-nxt-primary">
      <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
      Ajouter un utilisateur
    </a>
  </div>

  <div class="flex flex-col sm:flex-row gap-3 mb-6">
    <input
      type="text"
      placeholder="Rechercher un nom, un email..."
      class="input-nxt flex-1"/>

    <select class="select-nxt">
      <option value="all">Tous les statuts</option>
      <option value="active">Actif</option>
      <option value="inactive">Désactivé</option>
    </select>

    <select class="select-nxt">
      <option value="all">Tous les départements</option>
      <option value="active">IT</option>
      <option value="inactive">RH</option>
      <option value="inactive">Finance</option>
      <option value="inactive">Commercial</option>
    </select>
  </div>

  @if (response.data.totalPages > 12) {
    <app-paginate
      [totalPages]="response.data.totalPages"
      [number]="response.data.number"
      [first]="response.data.first"
      [last]="response.data.last"
      [pageSize]="response.data.size"
      (pageChange)="goToPage($event)"
      (pageSizeChange)="changePageSize($event)">
    </app-paginate>
  }

  <app-table-list-user [users]="response" (userAction)="onUserAction($event)"/>

  @if (response.data.totalPages > 12) {
    <app-paginate
      [totalPages]="response.data.totalPages" [number]="response.data.number"
      [first]="response.data.first"           [last]="response.data.last"
      [pageSize]="response.data.size"
      (pageChange)="goToPage($event)"         (pageSizeChange)="changePageSize($event)">
    </app-paginate>
  }

}
