@if (flashService.message(); as msg) {
  <div class="fixed top-20 right-6 z-1000 w-96">
    <div
      class="flex items-center bg-nxt-gray px-6 py-4 text-md border-t-5 rounded-lg shadow-sm"
      [class.border-nxt-success]="msg.type === 'success'"
      [class.border-nxt-error]="msg.type === 'error'"
      [class.border-ntx-secondary]="msg.type === 'info'"
      [class.border-nxt-gray]="msg.type === 'warning'"
    >
      <fa-icon
        [icon]="icons[msg.type]"
        class="w-6 h-6 shrink-0"
        [class.text-nxt-success]="msg.type === 'success'"
        [class.text-nxt-error]="msg.type === 'error'"
        [class.text-nxt-secondary]="msg.type === 'info'"
        [class.text-nxt-black]="msg.type === 'warning'"
      ></fa-icon>

      <div class="ml-3 flex-1 text-left text-nxt-black">
        {{ msg.text }}
      </div>

      <button (click)="flashService.message.set(null)" class="ml-2 text-nxt-gray hover:text-nxt-black shrink-0">
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
    </div>
  </div>
}
