<nav class="flex items-center justify-between ml-5">

  <!-- Navigation principale -->
    <div class="flex items-center gap-1">
      <a routerLink="/accueil" class="link-header-navbar">
        Accueil
      </a>
      <a routerLink="/actualites" class="link-header-navbar">
        Actualités
      </a>
      <a routerLink="/messageries" class="link-header-navbar">
        Messageries
      </a>
      <a routerLink="/annuaires" class="link-header-navbar">
        Annuaires
      </a>
      <a routerLink="/rh" class="link-header-navbar">
        RH
      </a>
    </div>

  <!-- Actions à droite -->
  <div class="flex items-center gap-3">

    <!-- Recherche -->
    <input type="text" class="pl-3" placeholder="Recherche"/>

    <!-- Dropdown Notifications -->
    <app-user-notif/>

    <!-- Dropdown Profil -->
    <app-user-profil/>

  </div>
</nav>
