@if (users(); as response) {
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-15 mt-20">
    @for (user of response.data.content; track user.publicId) {
      @if (user.active == true) {
        <div
          class="w-full bg-nxt-surface rounded-xl shadow-lg hover:shadow-2xl transition-shadow duration-300 p-6 relative">

          <!-- Profile Image -->
          <div class="flex justify-center -mt-16 mb-4">
            <img
              ngSrc="https://avatars.githubusercontent.com/u/124576166?v=4"
              alt="Photo de profil de {{ user.firstname }} {{ user.lastname }}"
              width="128"
              height="128"
              class="w-32 h-32 object-cover rounded-full border-4 border-nxt-white shadow-md hover:scale-105 transform transition-transform duration-300">
          </div>

          <!-- Name and Title -->
          <article class="text-center mb-4">
            <h2 class="text-2xl font-semibold text-nxt-dark">{{ user.firstname }} {{ user.lastname }}</h2>
            <p class="text-nxt-dark">Creative Designer</p>
          </article>

          <!-- Description -->
          <p class="text-center text-nxt-dark mb-6 px-4">Bio de la personne</p>

          <div class="text-center">
            <button class="btn-nxt-primary">
              Contacter
            </button>
          </div>
        </div>
      } @else {
        <p class="text-center text-nxt-gray">Aucun utilisateur trouvé.</p>
      }
    }
  </div>
} @else {
  <p class="text-center text-nxt-gray">Chargement...</p>
}
