@import "tailwindcss";
@plugin "daisyui";

/* ==========================================================================
   1. CONFIGURATION DU THÈME (Design Tokens)
   ========================================================================== */
@theme {
  --font-sans: 'Nunito', sans-serif;

  /* Rôles sémantiques des couleurs */
  --color-nxt-primary: #003eff;
  --color-nxt-primary-hover: #17356c;

  --color-nxt-secondary: #6f9ff8;
  --color-nxt-secondary-hover: #5a8ce8;

  --color-nxt-surface: #ffffff;
  --color-nxt-dark: #1a1a1a;
  --color-nxt-muted: #d0d0d0;

  --color-nxt-error: #df2323;
  --color-nxt-error-hover: #800f0f;
  --color-nxt-success: #33ad5e;
  --color-nxt-success-hover: #258044;

  --radius-nxt: 0.5rem;
  --radius-nxt-lg: 1rem;
}

/* ==========================================================================
   2. STYLES DE BASE
   ========================================================================== */
@layer base {
  body {
    font-family: var(--font-sans), sans-serif;
    color: var(--color-nxt-dark);
    background-color: var(--color-nxt-secondary);
  }

  h1 {
    @apply text-3xl font-extrabold text-gray-900 tracking-tight mb-2
  }

  input {
    @apply w-64 pl-2 pr-4 py-2 text-sm bg-gray-100 border border-gray-200/80 rounded-lg focus:outline-none focus:ring-2
    focus:ring-nxt-primary/20 focus:border-nxt-primary transition-all text-gray-800 placeholder-gray-400;

    &:focus {
      @apply border-nxt-primary ring-1 ring-nxt-primary bg-white;
    }
  }

  button {
    @apply cursor-pointer;
  }

  fa-icon {
    @apply shrink-0 transition-colors duration-200 text-xl;
  }

}

/* ==========================================================================
   3. COMPOSANTS RÉUTILISABLES
   ========================================================================== */
@layer components {

  /* 1. SOCLE COMMUN (Appliqué à tous les boutons en une seule fois) */
  .btn-nxt,
  .btn-nxt-primary,
  .btn-nxt-secondary,
  .btn-nxt-outline,
  .btn-nxt-success,
  .btn-nxt-error {
    @apply px-3.5 py-2 text-sm font-semibold rounded-nxt-lg
    transition-colors cursor-pointer inline-flex items-center
    justify-center gap-2 select-none;
  }

  /* 2. VARIANTES DE COULEURS */
  .btn-nxt-primary {
    @apply text-white bg-nxt-primary;
    &:hover {
      @apply bg-nxt-primary-hover;
    }
  }

  .btn-nxt-secondary {
    @apply text-nxt-primary bg-nxt-secondary;
    &:hover {
      @apply bg-nxt-secondary-hover;
    }
  }

  .btn-nxt-outline {
    @apply text-nxt-primary bg-nxt-surface border border-nxt-primary;
    &:hover {
      @apply bg-slate-100;
    }
  }

  .btn-nxt-success {
    @apply text-nxt-surface bg-nxt-success;
    &:hover {
      @apply bg-nxt-success-hover transition-colors cursor-pointer shadow-xs;
    }
  }

  .btn-nxt-error {
    @apply  text-nxt-surface bg-nxt-error border border-nxt-error;

    &:hover {
      @apply bg-nxt-error-hover transition-colors cursor-pointer shadow-xs;
    }
  }

  /* --- Liens --- */
  .link-nxt {
    @apply px-5 py-2.5 text-sm font-semibold text-gray-600 hover:text-gray-900 hover:bg-gray-100 rounded-xl transition-colors cursor-pointer;
  }

  .link-nxt-action {
    @apply inline-flex items-center justify-center gap-2 px-4 py-2.5 text-xs font-semibold text-white
           bg-nxt-primary hover:bg-nxt-primary/90 rounded-xl shadow-md shadow-nxt-primary/25
           transition-all cursor-pointer;
  }

  .modal-nxt {
    @apply border border-nxt-muted rounded-nxt-lg bg-nxt-surface
    text-nxt-dark p-6 max-w-md w-full shadow-xl;
  }

  .modal-title-nxt {
    @apply text-xl font-bold text-nxt-dark mb-4;
  }
}

/* ==========================================================================
   4. UTILITAIRES SPÉCIFIQUES
   ========================================================================== */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
